target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.iml
*.old
.idea
.DS_Store
classes
.project
.settings/
*/.classpath
*/.gitignore
*/.project
.gitignore
antx.properties
